@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    // background-color: blanchedalmond;
    // margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.price{
    // font-weight: bold;
    font-family: 'Work Sans',sans-serif;
    opacity: .6;
    font-weight: 300;
}

@mixin panel{
    background-color: rgba(243, 240, 240, 0.25);
    border: 1px solid rgba(140, 140, 140, 0.139);
}

.btn{
    color: white;
    border: none;
    padding: 0.4em 0.7em;
    font-size: .8rem;
    background: rgb(71, 69, 69);
    transition: all 250ms ease;
    &:hover{
        scale: 1.02;
        cursor: pointer;
    }
}

*{
    font-family: 'Raleway',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    max-width: 1100px;
    margin: 1em auto;
    min-height: 2000px;
}


.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.product{
    @include panel();
    padding: .9em 1em;
    transition: all 250ms ease;
    &:hover{
        box-shadow: 0px 0px 4px 2px rgba(109, 107, 107, 0.109);
    }
    
    .prod-img{
        max-width: 100%;
        width: 100%;
        height: 150px;
        max-height: 100%;
        display: blocks;
        // /height: 100%;
        object-fit: cover ;
        border: 1px solid rgba(128, 128, 128, 0.069);
    }
    display: flex;
    flex-direction: column;
    gap: 1em;
    .prod-data{
        display: flex;
        flex-direction:column;
        height: 100%;
        .name{
            font-size: 1rem;
            color: rgb(93, 88, 88);
            font-weight: 600;
            background-color: rgba(218, 218, 218, 0.283);
            border-radius: 1em;
        }
        .category{
            font-size: .6rem;
            opacity: .3;
            margin-bottom:1em;
        }
        .desc{
            opacity: .45;
            font-size: .8rem;
        }


    }
    .prod-footer{
        display: flex;
        justify-self: end;
        justify-content: space-between;
        margin-top: .4em;
        align-items: center;
       
            .name{
            font-size: 1rem;
            color: rgb(93, 88, 88);
            font-weight: 600;
            background-color: rgba(218, 218, 218, 0.283);
            border-radius: 1em;
        }
        .category{
            font-size: .6rem;
            opacity: .3;
            margin-bottom:1em;
        }
        .desc{
            opacity: .45;
            font-size: .8rem;
        }
    }
}


header{
    background-color: rgba(128, 128, 128, 0.277);
    margin-bottom: 1em;
    padding: 1.2em;
    .confine{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
    .title{
        font-size: 1.2rem;
        color: rgb(105, 93, 93);
        span{
            font-weight: 300;
        }
    }
    nav{
        display: flex;
        gap: 2em;
        align-items: center;
        .nav-link{
            color: rgb(97, 94, 94);
            font-size:1.2rem;
            letter-spacing: 3px;
            text-decoration: none;
            transition: all 100ms ease;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.151);

            &:hover{
                scale: 1.02;
                font-weight: bold;
                color: white;
            }
            position: relative;
            .item-incart{
                position: absolute;
                background-color: rgb(87, 83, 83);
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size:1rem;
                font-weight: bold;
                bottom: 30%;
                left: 85%;

                display: flex;
                align-items: center;
                justify-content: center;
                
                scale: .8;
                padding: .8em .9em 1em 1em;
                text-align: center;
                color: rgb(243, 239, 239);
            }
        }

    }
}



.listing{
    display: grid;
    grid-template-columns: 150px 4fr;
    .category-nav{
        text-align: right;
        padding: .9em;
        // text-align: right;
        
        h2{
            opacity: .6;
            margin: .4em 0em;
        }
        .cat-list li{
            list-style: none;
            padding: .1em;
            &:hover{
                scale: 1.02;
            }
            a { 
                text-decoration: none;
                color: rgb(162, 162, 160);
                // margin: .4em;
            }
        }
    }
}
.cart{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    height: 100%;
    .cart-listing{
        background-color: rgba(232, 230, 230, 0.123);
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 1em;
        .cart-item{
            
            padding: 1em;
            padding-right: 2em;
            @include panel();
            min-height: 160px;
            display: grid;
            grid-template-columns: 100px 1fr 80px;
            gap: 1em;
            .name{
                font-size: 1.2rem;
                // padding: .4em;
                // padding-left: .4em;
                // margin: .2em;
                color: rgb(93, 88, 88);
                font-weight: 600;
                background-color: rgba(218, 218, 218, 0.283);
                border-radius: 1em;
            }
            .category{
                font-size: .6rem;
                opacity: .3;
                margin-bottom:1em;
            }
            .desc{
                opacity: .45;
                font-size: .8rem;
            }
            .price{
                // font-weight: bold;
                @extend .price;
            }

            .img img{
                max-width: 100%;
                max-height: 100%;
                height: 100px;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

           .variant-list{
                margin: .5em;
                .variant{
                    margin-bottom: .4em;
                    background-color: rgb(227, 226, 226);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: .4em .8em;
                    border: 1px solid grey;
                    h3{
                        color: rgb(125, 125, 125);
                        font-weight: 500;
                        font-size: 1.1rem;
                    }
                    p{
                        font-size: .6rem;
                        opacity: .5;
                    }

                    .qty{
                        font-size: 1.2rem;
                        opacity: .6;
                    }
                    .right{
                        display: flex;
                        gap: .8em;
                        align-items: center;
                        .btn{
                            opacity: .2;
                            font-size: 1.4rem;
                            padding: 0;
                            width:30px;
                            max-height: 100%;
                            // height: fit-content;
                            // aspect-ratio: 1/1;
                            &:hover{
                                opacity: .5;
                            }
                        }
                    }
                }
           }

           .end{
                p{
                    opacity: .4;
                }
                .btn{
                    font-size: .5rem;
                }
           }
        }
    }

    .cart-action{
        height: 100%;
        .checkout-panel{
            @include panel();
            position: sticky;
            padding: 1em;
            top: 3%;
        }
        .coupon{
            display: flex;
        }

        .price{
            font-size: 2rem;
        }

        .footer{
            margin-top: calc(1em + 40px);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        h2{
            opacity: .8;
            font-size: 1.2rem;
        }
    }
}


.product-page{
    .product-detail{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 1.5em;
    }
    .prod-img{
        max-width: 100%;max-height: 100%;
        border: 1px solid rgb(119, 119, 119);
        height: 240px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }


    .prod-data{
        .name{
            font-size: 2rem;
            opacity: .75;
        }
        .category{
            opacity: .5;
            margin-bottom: 1em;
        }
        .desc{
            font-size: 1.2rem;
        }
    }

    .prod-action{
        height: 100%;
        .floating{
            @include panel();
            position: sticky;
            top: 3%;
            padding: 1em;

        }

        .variant-field{
            & > p{
                margin: .2em 0;
                opacity: .5;
            }

            .variants{
                display: flex;
                width: 100%;
                justify-content: space-around;
                // justify-tracks: center;
                gap: .4em;
                
                .variant{
                    @include panel();
                    background-color:rgb(226, 226, 226);
                    padding: .2em;
                    transition: all 250ms ease;
                    width: 100%;
                    .type{
                        font-weight: bold;
                        opacity:.6;
                        letter-spacing: 2px;
                        font-size: .8rem;
                    }
                    .size{
                        opacity: .2;
                    }
    
                    &.selected{
                        background-color:rgb(183, 183, 183);
                        outline: 2px solid rgb(78, 78, 78);
                    }
    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .amount{
            display: flex;
            justify-content: center;
            gap: 1em;
            align-items: center;
            margin: 1em 0;
            p{
                opacity: .7;
            }
            .btn{
                opacity: .5;
                &:hover{
                    opacity: 1;
                }
            }
        }

        .pricing-field{
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-top: 4em;
            .heading{
                opacity: .8;
            }
            .price{
                font-size: 2rem;
                margin-bottom: .4em;
            }
        }
    }

    .reviews{
        display: flex;
        flex-direction: column;
        gap: .7em;
        margin-top: 200px;
        & > h2{
            opacity: .7;
            letter-spacing: 2px;
        }
        .review{
            @include panel();
            display: grid;
            grid-template-columns: 40px 1fr 50px;
            gap: 1em;
            padding:1em;
            .profile-pic{
                max-height: 100%;
                max-width: 100%;
            }
            .detail{
                padding: .2em;
                .reviewer-name{
                    opacity: .6;
                    font-weight: normal;
                    font-size: 1.2rem;
                    margin-bottom: .4em;
                }
                .reviewer-text{
                    opacity: .5;
                    
                    font-size: .8rem;
                }
            }
            .score{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .star{
                    max-width: 100%;
                }
                & p{
                    font-family: 'Work Sans',sans-serif;
                }

            }
        }
    }
}