@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    // background-color: blanchedalmond;
    // margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
*{
    font-family: 'Raleway',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}


.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.product{
    background-color: rgba(243, 240, 240, 0.262);
    border: 1px solid rgba(140, 140, 140, 0.139);
}


header{
    background-color: rgba(128, 128, 128, 0.277);
    margin-bottom: 1em;
    padding: 1.2em;
    .confine{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
    .title{
        font-size: 1.2rem;
        color: rgb(105, 93, 93);
        span{
            font-weight: 300;
        }
    }
    nav{
        display: flex;
        gap: 2em;
        align-items: center;
        .nav-link{
            color: rgb(97, 94, 94);
            font-size: 1.2rem;
            letter-spacing: 3px;
            text-decoration: none;
            transition: all 250ms ease;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.243);

            &:hover{
                scale: 1.04;
                color: white;
                font-weight: bold;
            }
        }

    }
}